<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dlogstail</title>
</head>
<body>
    <h1> Containers List </h1>
    <ul>
        {{ range $name := .ContainerNames }}
            <li> {{ $name }}</li>
        {{ end }}
    </ul>
</body>
<script src="https://unpkg.com/vue@3"></script>

<div id="app">
    <ul v-for="container in containers">
        <li> <button @click="getContainer(container)">[[ container.Name ]]</button> </li>
    </ul>
    <textarea v-model="container.Log" name="" id="" cols="30" rows="10"></textarea>

</div>


<script>
  Vue.createApp({
    data() {
      return {
        containers: [],
        container: {}
      }
    },
    methods: {
      getContainer(container){
        console.log("get container", container.Id)
        fetch(`/container?id=${container.Id}`)
        .then(container => container.json())
        .then(container => this.container = container)
      }

    }, 
    delimiters: ['[[', ']]'],
    mounted() {
        fetch("/containers")
        .then(containers => containers.json())
        .then(containers => this.containers = containers)
    }

  }).mount('#app')
</script>
</html>