<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Container List </h1>
    <ul>
        {{ range $name := .ContainerNames }}
            <li> {{ $name }}</li>
        {{ end }}
    </ul>
</body>
<script src="https://unpkg.com/vue@3"></script>

<div id="app">
    <ul v-for="container in containers">
        <li> [[ container.Name ]] </li>
    </ul>    
</div>


<script>
  Vue.createApp({
    data() {
      return {
        containers: []
      }
    },
    delimiters: ['[[', ']]'],
    mounted() {
        fetch("/containers")
        .then(containers => containers.json())
        .then(containers => this.containers = containers)
        return console.log('montado')
    }

  }).mount('#app')
</script>
</html>